.productsOuterContainer{
    display: flex;
    flex-direction: row;
}
.productContainer{
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productImage{
    height: 200px;
    width: 300px;
    padding: 10px;
}
.productTitle{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.productTitle .hashComponent input{
    margin-top: 20px;
    margin-right: 10px;
}
.disableProduct{
    opacity: 0.5;
    pointer-events: none;
}
