.bodyContainer{
  width: 100%;
  height: 100%;
}
.headerContainer {
  width: 100%;
  position: sticky;  
  top: 0;      
  background: rgb(95, 95, 95);
  padding: 10px 0;
  height: 30px;
}
.footerContainer {
  width: 100%;
  position: fixed;  
  bottom: 0;      
  background: rgb(95, 95, 95);
  padding: 10px 0;
  color: #fff;
  height: auto;
  font-size: 20px;
  text-align: center;
}
.hide{
  display: none !important;
}
.errorMessage{
  color: red;
  font-size: 12px;
  margin-block-start:auto;
  margin-block-end:auto;
  margin-inline-start:auto;
  margin-inline-end:auto
}
.freezeLayer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(55, 55, 55, 0.1);
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
