.formContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    background-color: #f5f5f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.hashErrorComponent input{
    border: red 1px solid;
}

.formContainer .hashComponent{
    padding: 10px;
}
