div .header {
    display: flex;
    flex-direction: row;
    width: auto;
    /* position: relative; */
    color: #fff;
}
.header .heading {
    margin-top: 3px;
    margin-left: 10px;
}
.header .welComeGreeting {
    margin-top: 3px;
    margin-left: auto;
    margin-right: 500px;
}
.header .loginStatus {
    margin-top: 3px;
    margin-right: 10px;
}
.header .profileImage img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 0.7;
}
.header .profileImage .uploadImageIcon{
    z-index: 10;
}
.fieldContainer #profileImage{
    display: none;
}
