.navigationBar{
    background-color: blanchedalmond;
    /* position: sticky; */
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigationBar ul li{
    display: inline-block;
    padding: 10px;
}
.navigationBar ul li:hover{
    background-color: black;
    color: aliceblue;
}
.navigationBar .activeTab{
    background-color: black;
    color: aliceblue;
}
.pageTitle{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 0px;
    padding: 0px;
}
